/* *{
    display: inline-block;
}
 */

 body{
    overflow-x:hidden;
 }


.ubicacion{
    margin: 20px;
}

.direccion{
    text-align: right;
    vertical-align: auto;
    margin: auto;
}

.direccion h3{
    color:  #4fc57c; 
}

#map{
    width: 50%;
    height: 400px;
    margin: auto;
    border-radius: 15px;
}

.formu{
    text-align: center;
    align-items: center;
    margin: auto;
}

.formu input{
    width: 60%;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    border-color: #616ef978;
}

.formu textarea{
    width: 60%;
    height: 100px;
    border-radius: 8px;
    border-color:#616ef99d;
}

.formu label{
    color: #050c55 ;
}

.contacto{
    text-align: center;
    vertical-align: auto;
    margin: auto;
}

.contacto h3{
    color:  #0494c8 ;
}

.boton{
    padding: 10px;
    border-radius: 7px;
    background-color: #050c55;
    color: azure;
}



@media only screen and (max-width: 600px) {
    #map {
      width: 85%;
    }
  }
