

.descrip{
  background-color: black;
}

#descripcion{
/*   color: rgb(250, 241, 210);
 */
  color: rgb(205, 251, 251);
  padding: 150px 50px 50px 100px;
  text-align: left;
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.conva{
  margin: 40px 0 10px 0;
}

.medusa{
  width: 1%;
  opacity:0.5;
}

.imde{
  display: none;
}


.convoca{
/*   background-color:rgba(3, 3, 69, 0.89);
  color:wheat;*/
  background-color: rgb(244, 237, 228);
  color: var(--color-rey);
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  padding: 30px 0 10px 0;
}

.con-up{
  padding: 40px;
  font-size: 21px;
  text-align: center;
}

.con-up i{
  font-size: 30px;
}
.con-up a{
  text-decoration: none;
  color: var(--color-cielo);
}

.con-up a:hover{
  color: var(--color-verde);
}


.con-ci{
  padding: 50px;
  font-size: 21px;
  text-align: center;
  vertical-align: auto;
}

.con-ci i{
  font-size: 30px;
}

.con-ci a{
  text-decoration: none;
  color: var(--color-cielo);
}

.con-ci a:hover{
  color: var(--color-guinda);
}

.seve{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: antiquewhite;
  color: var(--color-guinda);
  padding: 20px 0 10px 0;
}


.cardes{
  margin:60px 0 70px 0;
}

.carde{
  margin: auto;
}

.card-body{
  text-align: center;
}

.btn{
  background-color: rgb(45, 45, 151);
  border-color: rgb(45, 45, 151);
}

.btn:hover{
  background-color:white;
  color: rgb(45, 45, 151);
}

a img{
 width: 100%; 
}


@media (max-width:600px){

  #descripcion{
    height: 125px;
    padding: 45px 20px 50px 25px;
    text-align: left;
    font-size: 14px;
    color:rgb(204, 236, 244);
  }
  
  .medusa{
    display: none;
  }

  .imde{
    background-color: black;
    display:flex;
  }

  .imde img{
    width:100%;
    height: 20%;
    opacity: 0.2;
  }

  .conva{
    margin: 30px 0 10px 0;
  }

  .convoca{
    font-size: 15px;
    padding: 30px 0 5px 0;
  }

  .con-up{
    padding: 30px;
    font-size: 15px;
  }

  .con-ci{
    padding: 20px 50px 30px 50px;
    font-size: 15px;
    vertical-align: auto;
  }

  .seve{
    font-size: 16px;
  }

  .cardes{
    margin:30px 0 20px 0;
  }

  .card{
    margin: 20px 0 10px 0;
    width: 50px;
    border-color: rgb(255, 255, 255);
  }

  .btn{
    font-size: 14px;
  }

}
