

.investigadores{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--color-guinda);
    margin-left: 570px;
}


.card{
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 18px;
/*     background-color: rgba(212, 163, 103, 0.134);*/
    background-color:rgba(0, 179, 255, 0.059);
}

.card img{
    width: 220px;
    height: 220px;
}

.invs-t img{
    border-radius: 110px;
    margin: 10px 0 10px 0;
}

.invs-t{
    border-color:rgba(100, 23, 23, 0.09);
/*     border-width: 0.1px;*/
    /* background-color: var(--color-guinda); */
    color:var(--color-guinda);
    /* padding: 10px 0 0 10px; */
}





.btn{
    background-color:rgba(0, 255, 255, 0.387);
    border-color: var(--color-guinda);
    border-color: aliceblue;
}
.btn:hover{
    color: var(--color-guinda);
    background-color: aliceblue;
    border-color: var(--color-guinda);
}



.invs-h{
    color: var(--color-guinda);
    text-align: center;
    margin: auto;
    font-size: medium;
}

.invs-b{
    color: var(--color-neg);
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: small;
}


.invs-b ul{
    text-align:left;
}

.invs-b a{
    color: var(--color-cielo);
    padding:0 20px 0 20px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.invs-b img{
    width: 180px; 
    height: 220px;
}

/* .modal-content{
    background-color:rgb(193, 193, 193);
} */


.estudiantes{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--color-cielo);
    margin-left: 570px;
}


@media (max-width: 600px) {
    .invs-t{
        margin: 15px 0 15px 65px;
    }
    .card-title{
        font-size: medium;
    }
    .investigadores{
        font-size: 22px;
        margin: 0 0 0 120px;
    }
    .estudiantes{
        font-size: 22px;
        margin: 0 0 0 120px;
    }
  }