

.card{
    text-align: center;
    align-items: center;
    margin: auto;
    /* border-radius: 18px; */
/*     background-color: rgba(212, 163, 103, 0.134);*/
   /*  background-color:rgba(0, 179, 255, 0.059); */
}

.card img{
    width: 220px;
    height: 220px;
}


/* -------------------------------------INVESTIGADORES-------------------------- */




.investigadores{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(255, 255, 255);
    /* margin-left: 570px; */
    text-shadow: 0px 0px 9px #0560f3;
    padding: 20px 0 10px 0;
    text-align: center;
    background-color: rgba(66, 173, 192, 0.434);
/*     border-radius: 30px;
    width: 35%;
    margin: auto; */

}


.invs-t img{
    border-radius: 110px;
    margin: 10px 0 10px 0;
}

.invs-t{
    border-color:var(--color-cielo);
    border-width: 0px;
/*     border-width: 0.1px;*/
    /* background-color: var(--color-guinda); */
    color:var(--color-cielo);
    /* padding: 10px 0 0 10px; */
}


.invs-t button{
    background-color:var(--color-cielo);
    border-color: var(--color-cielo);
    border-color: aliceblue;
}

.invs-t button:hover{

    color: var(--color-cielo);
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color:var(--color-cielo);
    /* font-size: large; */
}

.invs-t button:active{
    background-color:var(--color-cielo);
    border-color: var(--color-cielo);
    border-color: aliceblue;
}

.invs-h{
    color: var(--color-cielo);
    text-align: center;
    margin: auto;
    font-size: medium;
}

.invs-b{
    color: var(--color-neg);
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: small;
}


.invs-b ul{
    text-align:left;
}

.invs-b a{
    color: var(--color-cielo);
    padding:0 20px 0 20px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.invs-b img{
    width: 180px; 
    height: 220px;
}

/* .modal-content{
    background-color:rgb(193, 193, 193);
} */



/* -------------------------------------ESTUDIANTES-------------------------- */




.estudiantes{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 9px #fa0b0bda;
    text-align: center;
    padding: 30px 0 10px 0;
    background-color: rgba(205, 51, 51, 0.474);

}


.estu-t img{
    border-radius: 110px;
    margin: 10px 0 10px 0;
}

.estu-t{
    border-color:var(--color-cielo);
    border-width: 0px;
/*     border-width: 0.1px;*/
    /* background-color: var(--color-guinda); */
    color:var(--color-cielo);
    /* padding: 10px 0 0 10px; */
}



.estu-t button{
    background-color:var(--color-guinda);
    border-color: var(--color-guinda);
    color: rgb(255, 255, 255);
}

.estu-t button:hover{
    background-color:rgb(255, 255, 255);
    border-color: var(--color-guinda);
    color:var(--color-guinda)
}

.estu-t button:active{
    background-color:var(--color-guinda);
    border-color: aliceblue;
    color: white;
}




.estu-h{
    color: var(--color-guinda);
    text-align: center;
    margin: auto;
    font-size: medium;
}


.estu-h{
    color: var(--color-guinda);
    text-align: center;
    margin: auto;
    font-size: medium;
}

.estu-b{
    color: var(--color-neg);
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: small;
}


.estu-b ul{
    text-align:left;
}

.estu-b a{
    color: var(--color-guinda);
    padding:0 20px 0 20px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.estu-b img{
    width: 180px; 
    height: 220px;
}

.modal img{
    height: 200px; 
    width: 40%;
    /* border-radius: 110px; */
}



@media (max-width: 600px) {
    .invs-t{
        margin: 15px 0 0 70px;
    }
    .estu-t{
        margin: 15px 0 0 70px;
    }
    .card-title{
        font-size: medium;
    }
    .investigadores{
        font-size: 26px;
        /* margin: 0 0 0 120px; */
/*         padding: 10px 0 3px 0;
        width: 50%; */
        padding: 10px 0 5px 0;

    }
    .estudiantes{
        font-size: 26px;
        /* font-weight: 600; */
        padding: 10px 0 5px 0;
    }

    .modal img{
        height: 120px; 
        width: 40%;
        /* border-radius: 110px; */
    }
  }